---

---

<div
  class="bg-neutral-900 text-white text-center text-xs font-light leading-6 flex mx-auto items-center justify-center px-10 md:px-0"
>
  <div class="flex flex-col py-6 md:w-3/4 space-y-6">
    <p>
      This website is under the operation of MCA Intelifunds Ltd, trading as
      FXORO.
    </p>
    <p>
      MCA INTELIFUNDS LTD, trading as “FXORO”, is a financial services company
      incorporated and registered under the laws of the Republic of Cyprus,
      licensed and regulated by the Cyprus Securities and Exchange Commission
      (CySEC) with license number 126/10.
    </p>
    <p>
      Address: Petrou Tsirou 82, Mesa Geitonia, 3076, Limassol, Cyprus. Clients
      funds are held in segregated accounts and insured by the client
      compensation funds subject to eligibility.
    </p><p>Risk disclaimer</p>
    <p>
      CFDs are complex instruments and come with a high risk of losing money
      rapidly due to leverage. 75.28% of retail investor accounts lose money
      when trading CFDs with this provider. You should consider whether you
      understand how CFDs work and whether you can afford to take the high risk
      of losing your money.
    </p>
    <p>
      The National Securities Market commission of Spain (the “CNMV”) has
      determined that, due to the complexity of CFDs and the risks involved, the
      purchase of such a product by Retail Clients is not appropriate/suitable.
    </p><p>
      In this respect, pursuant to the relevant requirements introduced by CNMV,
      you are warned that you are about to purchase a product that is complex
      and difficult to understand: Contracts for Differences (CFDs). CNMV has
      determined that, due to its complexity and the risks involved, the
      purchase of this product by retail investors is not appropriate/suitable.
      Because of such, CFDs may not be the ideal investment for everyone. The
      high rate of leverage that is available to CFD traders can work for or
      against you. You should only invest money that you can afford to lose.
      CFDs are intricate leveraged financial assets. Trading Forex, Commodities,
      Indexes and Shares based CFDs, or any other underlaying instruments of the
      Company implies a high degree of risk and can lead to the loss of your
      investment. Before getting involved with trading, consider your financial
      goals, your skills and gage the possible risks associated with trading
      Company&apos;s Products.
    </p>
    <p>
      Derivate assets like CFDs and likely instruments from other markets can
      present extreme volatility. CFDs may shift price rapidly and may depict
      change in market conditions that result from unforeseeable occurrences.
      None of these facts can be manipulated by either you or FXORO. It is best
      to consult with a licensed financial counselor. FXORO does not avail its
      customers with financial advice and the information provided herein is
      intended for marketing purposes only. Past performance is not an indicator
      for future results. Make sure to read the "Risk Warning" to get a clear
      picture of the risks inherent with trading Company&apos;s Products.
    </p><p>
      MCA Intelifunds Limited does not offer Contracts for Difference to
      residents of certain jurisdictions such as the United States of America,
      the Islamic Republic of Iran and Canada.
    </p>
    <p>2023 FXORO All rights reserved</p>
  </div>
</div>
