---
import Button from "./ui/Button.astro";
---

<div class="pb-6 md:mx-80">
  <div class="py-6 pb-16 flex items-center justify-center md:justify-start">
    <img src="/assets/logo.png" alt="FXORO Logo" />
  </div>

  <div class="h-full text-center md:text-start px-10 md:px-0">
    <h1>WHAT DOES THE <span> FUTURE HOLD</span>?</h1>
    <h3 class="py-16 md:w-2/3 shrink-0 text-center md:text-start w-full">
      The global financial landscape continues to evolve, presenting new
      challenges and opportunities. At <span class="text-black font-extrabold"
        >FX</span
      ><span class="text-yellow-500 font-extrabold">ORO</span>, we understand
      that staying ahead in these dynamic times requires not just adaptability,
      but also a deep understanding of the underlying trends shaping our
      economic future.
    </h3>
    <div class="flex flex-col items-center justify-center md:items-start">
      <Button intent="primary" size="medium"
        ><a href="https://my.fxoro.com/register" target="_blank">Learn more</a
        ></Button
      >
      <h6 class="text-center py-4 md:ml-16">
        Trading is risky. <br /> You may lose your entire capital.
      </h6>
    </div>
  </div>
</div>
