---
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";

const button = cva("button", {
  variants: {
    intent: {
      primary: ["bg-orange-600", "text-white", "hover:bg-orange-700"],
      secondary: ["bg-orange-600", "text-white", "hover:bg-orange-700"],
    },
    size: {
      small: ["text-sm", "py-1", "px-2"],
      medium: [
        "text-lg",
        "h-12",
        "py-0",
        "px-0",
        "font-extrabold",
        "w-full",
        "sm:w-3/12",
      ],
    },
  },
  compoundVariants: [{ intent: "primary", size: "medium", class: "font-bold" }],
});

export interface Props
  extends HTMLAttributes<"button">,
    VariantProps<typeof button> {}

const { intent = "primary", size = "medium" } = Astro.props;
---

<button class={button({ intent, size })}>
  <slot />
</button>
